body {
  margin: 0;
  padding: 0;
}

.alt-grid [class*="col-"] {
  padding-left: 0;
  padding-right: 0
}

.alt-grid .row {
  margin-left: 0;
  margin-right: 0
}

/* container adjusted */
.alt-grid .container {
  width: 100%;
  max-width: none;
  padding: 0;
}